annotator-venv
install_packages.sh
run_integration_tests.sh
annotator-venv*
/test_data/datasets
update-git.sh
__pycache__
code/__pycache__
xl-lexeme/
temp*
model
logs
.cache/
random-annotator-venv*
xl-lexeme
model-xl-durel/